[package]
name = "wgpu-types"
version = "0.14.0"
authors = ["wgpu developers"]
edition = "2021"
description = "WebGPU types"
homepage = "https://wgpu.rs/"
repository = "https://github.com/gfx-rs/wgpu"
keywords = ["graphics"]
license = "MIT OR Apache-2.0"

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lib]

[features]
trace = ["serde"]
replay = ["serde"]
strict_asserts = []

[dependencies]
bitflags = "1"
serde = { version = "1", features = ["serde_derive"], optional = true }

[dev-dependencies]
serde = { version = "1", features = ["serde_derive"] }
serde_json = "1.0.85"
