[package]
name = "wgpu-types"
version.workspace = true
authors.workspace = true
edition.workspace = true
description = "WebGPU types"
homepage.workspace = true
repository.workspace = true
keywords.workspace = true
license.workspace = true

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lib]

[features]
trace = ["serde", "bitflags_serde_shim"]
replay = ["serde", "bitflags_serde_shim"]

[dependencies]
bitflags.workspace = true
serde = { workspace = true, features = ["serde_derive"], optional = true }
bitflags_serde_shim = { workspace = true, optional = true }

[dev-dependencies]
serde_json.workspace = true
