[package]
name = "wgpu"
version = "0.3.0"
authors = [
	"Dzmitry Malyshau <kvark@mozilla.com>",
	"Joshua Groves <josh@joshgroves.com>",
	"Lucas Kent <rubickent@gmail.com>",
	"kyren <kerriganw@gmail.com>",
	"Cormac O'Brien <cormac@c-obrien.org>",
]
edition = "2018"
description = "Rusty WebGPU API wrapper"
homepage = "https://github.com/gfx-rs/wgpu-rs"
repository = "https://github.com/gfx-rs/wgpu-rs"
keywords = ["graphics"]
license = "MPL-2.0"

[lib]

[features]
default = []

[dependencies]
wgn = { package = "wgpu-native", git = "https://github.com/gfx-rs/wgpu", rev = "40fb3fcdfd38a3788bb1a358301dc9010778651b" }
arrayvec = "0.4"
raw-window-handle = "0.1"
zerocopy = "0.2"

[dev-dependencies]
cgmath = "0.17"
env_logger = "0.6"
glsl-to-spirv = "0.1"
log = "0.4"
png = "0.15"
winit = "0.20.0-alpha3"
