[package]
name = "wgpu_bindings"
version = "0.1.0"
authors = [
	"Dzmitry Malyshau <kvark@mozilla.com>",
	"Joshua Groves <josh@joshgroves.com>",
]
edition = "2018"
license = "MPL-2.0"
publish = false

[lib]

[features]
default = []

[dependencies.wgc]
path = "../wgpu/wgpu-core"
package = "wgpu-core"
features = ["cross", "replay", "trace", "serial-pass"]

[dependencies.wgt]
path = "../wgpu/wgpu-types"
package = "wgpu-types"

[dependencies]
bincode = "1"
log = "0.4"
parking_lot = "0.11"
serde = "1"
