name: validation-macos
on:
  pull_request:
    paths:
      - '.github/workflows/validation-macos.yml'
      - 'tests/out/msl/*.msl'
      - 'xtask/**'

jobs:
  validate-macos:
    name: MSL
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3

      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: |
            xtask -> target

      - run: cargo xtask validate msl
