(
	god_mode: false,
	spv: (
		version: (1, 1),
		binding_map: {
			(group: 0, binding: 0): (binding_array_size: Some(10)),
		},
	),
	bounds_check_policies: (
		index: ReadZeroSkipWrite,
		buffer: ReadZeroSkipWrite,
		image: ReadZeroSkipWrite,
	)
)
