(
	bounds_check_policies: (
		image_load: Restrict,
		image_store: Restrict,
	),
	spv: (
		version: (1, 1),
		debug: true,
	),
	glsl: (
		version: Desktop(430),
		writer_flags: (""),
		binding_map: { },
		zero_initialize_workgroup_memory: true,
	),
	msl: (
		lang_version: (1, 2),
		per_entry_point_map: {},
		inline_samplers: [],
		spirv_cross_compatibility: false,
		fake_missing_bindings: true,
		zero_initialize_workgroup_memory: true,
	),
)
