(
	spv: (
		version: (1, 0),
		capabilities: [ Shader, SampleRateShading ],
		debug: true,
		force_point_size: true,
		adjust_coordinate_space: true,
	),
	glsl: (
		version: Desktop(400),
		writer_flags: (""),
		binding_map: {},
		zero_initialize_workgroup_memory: true,
	),
)
