(
	god_mode: true,
	spv: (
		version: (1, 4),
	),
	msl: (
	    lang_version: (2, 4),
		spirv_cross_compatibility: false,
		fake_missing_bindings: true,
		zero_initialize_workgroup_memory: false,
	    per_entry_point_map: {},
		inline_samplers: [],
	),
	hlsl: (
	    shader_model: V6_5,
        binding_map: {},
        fake_missing_bindings: true,
        special_constants_binding: None,
        zero_initialize_workgroup_memory: true,
	)
)
