(
	spv_version: (1, 1),
	spv_capabilities: [ Shader, Image1D, Sampled1D ],
	spv_debug: true,
	spv_adjust_coordinate_space: false,
	msl_custom: true,
	msl: (
		lang_version: (2, 0),
		binding_map: {
			(stage: Vertex, group: 0, binding: 0): (buffer: Some(0), mutable: true),
		},
		per_stage_map: (
			vs: (
				sizes_buffer: Some(24),
			),
		),
		inline_samplers: [],
		spirv_cross_compatibility: false,
		fake_missing_bindings: false,
	),
)
