(
	msl: (
		lang_version: (1, 0),
		per_entry_point_map: {
			"main": (
				resources: {
				},
				sizes_buffer: Some(0),
			)
		},
		inline_samplers: [],
		spirv_cross_compatibility: false,
		fake_missing_bindings: false,
		zero_initialize_workgroup_memory: true,
	),
)
