(
	spv_flow_dump_prefix: "",
	spv_version: (1, 0),
	spv_capabilities: [ Shader ],
	spv_debug: true,
	spv_adjust_coordinate_space: false,
	msl_custom: true,
	msl: (
		lang_version: (2, 0),
		binding_map: {
			(stage: Compute, group: 0, binding: 0): (buffer: Some(0), mutable: false),
			(stage: Compute, group: 0, binding: 1): (buffer: Some(1), mutable: true),
			(stage: Compute, group: 0, binding: 2): (buffer: Some(2), mutable: true),
		},
		push_constants_map: (
		),
		inline_samplers: [],
		spirv_cross_compatibility: false,
		fake_missing_bindings: false,
	),
)
