(
    god_mode: true,
    msl: (
		lang_version: (1, 2),
		per_entry_point_map: {},
		inline_samplers: [],
		spirv_cross_compatibility: false,
		fake_missing_bindings: false,
		zero_initialize_workgroup_memory: true,
	),
)
