(
	god_mode: true,
	spv: (
		version: (1, 2),
	),
	msl: (
		lang_version: (2, 2),
		per_stage_map: (),
		inline_samplers: [],
		spirv_cross_compatibility: false,
		fake_missing_bindings: false,
	),
)
