(
	god_mode: true,
	spv: (
		version: (1, 2),
	),
	msl: (
		lang_version: (2, 2),
		per_entry_point_map: {
			"main": (
				push_constant_buffer: Some(1),
			),
		},
		inline_samplers: [],
		spirv_cross_compatibility: false,
		fake_missing_bindings: false,
		zero_initialize_workgroup_memory: true,
	),
)
