(
	spv: (
		version: (1, 0),
		capabilities: [ Shader, SampleRateShading ],
		adjust_coordinate_space: false,
		force_point_size: true,
		separate_entry_points: true,
	),
	hlsl_custom: true,
	hlsl: (
		shader_model: V5_1,
		binding_map: {},
		fake_missing_bindings: false,
		special_constants_binding: Some((space: 1, register: 0)),
	),
)
