(
	spv_version: (1, 0),
	spv_capabilities: [ Shader, SampleRateShading ],
	spv_debug: true,
	spv_adjust_coordinate_space: true,
	glsl: (
		version: Desktop(400),
		writer_flags: (bits: 0),
		binding_map: {},
	),
	glsl_custom: true,
)
