(
    glsl: (
        version: Embedded (
            version: 300,
            is_webgl: true
        ),
        writer_flags: (""),
        binding_map: {},
        zero_initialize_workgroup_memory: true,
    ),
)
