(
    glsl: (
		version: Embedded (
            version: 300,
			is_webgl: true
		),
		writer_flags: (bits: 0),
		binding_map: {},
		zero_initialize_workgroup_memory: true,
	),
	glsl_multiview: Some(2),
)
