(
	spv_version: (1, 0),
	spv_capabilities: [ Shader ],
	spv_debug: true,
	spv_adjust_coordinate_space: true,
	mtl_bindings: {
		(stage: Fragment, group: 0, binding: 0): (texture: Some(0)),
		(stage: Fragment, group: 0, binding: 1): (sampler: Some(0)),
	}
)
