(
	spv: (
		version: (1, 0),
		debug: true,
		adjust_coordinate_space: true,
	),
	glsl: (
		version: Embedded(
			version: 300,
			is_webgl: false
		),
		writer_flags: (""),
		binding_map: {},
		zero_initialize_workgroup_memory: true,
	),
)
