(
	spv_flow_dump_prefix: "",
	spv_version: (1, 0),
	spv_capabilities: [ Shader ],
	spv_debug: false,
	spv_adjust_coordinate_space: false,
	msl_custom: true,
	msl: (
		lang_version: (2, 1),
		binding_map: {
			(stage: Vertex, group: 0, binding: 0): (buffer: Some(0)),
			(stage: Fragment, group: 0, binding: 1): (texture: Some(0)),
			(stage: Fragment, group: 0, binding: 2): (sampler: Some(Inline(0))),
		},
		per_stage_map: (
		),
		inline_samplers: [
			(
				coord: Normalized,
				address: (ClampToEdge, ClampToEdge, ClampToEdge),
				mag_filter: Linear,
				min_filter: Linear,
				mip_filter: None,
				border_color: TransparentBlack,
				compare_func: Never,
				lod_clamp: Some((start: 0.5, end: 10.0)),
				max_anisotropy: Some(8),
			),
		],
		spirv_cross_compatibility: false,
		fake_missing_bindings: false,
	)
)
