[package]
name = "wgpu-core"
version = "0.8.0"
authors = ["wgpu developers"]
edition = "2018"
description = "WebGPU core logic on gfx-hal"
homepage = "https://github.com/gfx-rs/wgpu"
repository = "https://github.com/gfx-rs/wgpu"
keywords = ["graphics"]
license = "MPL-2.0"

[lib]

[features]
default = []
# Enable SPIRV-Cross
cross = ["gfx-backend-metal/cross", "gfx-backend-gl/cross"]
# Enable API tracing
trace = ["ron", "serde", "wgt/trace", "arrayvec/serde"]
# Enable API replaying
replay = ["serde", "wgt/replay", "arrayvec/serde"]
# Enable serializable compute/render passes, and bundle encoders.
serial-pass = ["serde", "wgt/serde", "arrayvec/serde"]

[dependencies]
arrayvec = "0.5"
bitflags = "1.0"
copyless = "0.1"
fxhash = "0.2"
log = "0.4"
parking_lot = "0.11"
profiling = { version = "1", default-features = false }
raw-window-handle = { version = "0.3", optional = true }
ron = { version = "0.6", optional = true }
serde = { version = "1.0", features = ["serde_derive"], optional = true }
smallvec = "1"
thiserror = "1"

gpu-alloc = "0.4"
gpu-descriptor = "0.1"

hal = { package = "gfx-hal", version = "0.8" }
gfx-backend-empty = { version = "0.8" }

[target.'cfg(all(not(target_arch = "wasm32"), all(unix, not(target_os = "ios"), not(target_os = "macos"))))'.dependencies]
gfx-backend-vulkan = { version = "0.8", features = ["naga"] }
gfx-backend-gl = { version = "0.8" }

[target.'cfg(all(not(target_arch = "wasm32"), any(target_os = "ios", target_os = "macos")))'.dependencies]
gfx-backend-metal = { version = "0.8" }
#TODO: could also depend on gfx-backend-vulkan for Vulkan Portability

[target.'cfg(all(not(target_arch = "wasm32"), windows))'.dependencies]
gfx-backend-dx12 = { version = "0.8" }
gfx-backend-dx11 = { version = "0.8" }
gfx-backend-vulkan = { version = "0.8", features = ["naga"] }

[target.'cfg(target_arch = "wasm32")'.dependencies]
gfx-backend-gl = { version = "0.8" }

[dependencies.naga]
version = "0.4"
features = ["spv-in", "spv-out", "wgsl-in"]

[dependencies.wgt]
path = "../wgpu-types"
package = "wgpu-types"
version = "0.8"

[dev-dependencies]
loom = "0.3"

[build-dependencies]
cfg_aliases = "0.1"
