[package]
name = "wgpu-core"
version = "0.7.0"
authors = ["wgpu developers"]
edition = "2018"
description = "WebGPU core logic on gfx-hal"
homepage = "https://github.com/gfx-rs/wgpu"
repository = "https://github.com/gfx-rs/wgpu"
keywords = ["graphics"]
license = "MPL-2.0"

[lib]

[features]
default = []
# Enable SPIRV-Cross
cross = ["gfx-backend-metal/cross", "gfx-backend-gl/cross"]
# Enable API tracing
trace = ["ron", "serde", "wgt/trace", "arrayvec/serde"]
# Enable API replaying
replay = ["serde", "wgt/replay", "arrayvec/serde"]
# Enable serializable compute/render passes, and bundle encoders.
serial-pass = ["serde", "wgt/serde", "arrayvec/serde"]

[dependencies]
arrayvec = "0.5"
bitflags = "1.0"
copyless = "0.1"
fxhash = "0.2"
log = "0.4"
parking_lot = "0.11"
profiling = { version = "0.1.10", default-features = false } # Need 0.1.10+ to prevent compile errors with proc macros disabled
raw-window-handle = { version = "0.3", optional = true }
ron = { version = "0.6", optional = true }
serde = { version = "1.0", features = ["serde_derive"], optional = true }
smallvec = "1"
thiserror = "1"

# Update to 0.4 when it will be available
gpu-alloc = { git = "https://github.com/zakarumych/gpu-alloc.git", rev = "560ad651aa8f7aefcee8f5bcf41e67a84561bcda" }
gpu-descriptor = { version = "0.1" }

hal = { package = "gfx-hal", git = "https://github.com/gfx-rs/gfx", rev = "2a93d52661aafcbd6441ea83e739c8ced906cd21" }
gfx-backend-empty = { git = "https://github.com/gfx-rs/gfx", rev = "2a93d52661aafcbd6441ea83e739c8ced906cd21" }

[target.'cfg(all(not(target_arch = "wasm32"), all(unix, not(target_os = "ios"), not(target_os = "macos"))))'.dependencies]
gfx-backend-vulkan = { git = "https://github.com/gfx-rs/gfx", rev = "2a93d52661aafcbd6441ea83e739c8ced906cd21", features = ["naga"] }
gfx-backend-gl = { git = "https://github.com/gfx-rs/gfx", rev = "2a93d52661aafcbd6441ea83e739c8ced906cd21" }

[target.'cfg(all(not(target_arch = "wasm32"), any(target_os = "ios", target_os = "macos")))'.dependencies]
gfx-backend-metal = { git = "https://github.com/gfx-rs/gfx", rev = "2a93d52661aafcbd6441ea83e739c8ced906cd21" }
gfx-backend-vulkan = { git = "https://github.com/gfx-rs/gfx", rev = "2a93d52661aafcbd6441ea83e739c8ced906cd21", optional = true }

[target.'cfg(all(not(target_arch = "wasm32"), windows))'.dependencies]
gfx-backend-dx12 = { git = "https://github.com/gfx-rs/gfx", rev = "2a93d52661aafcbd6441ea83e739c8ced906cd21" }
gfx-backend-dx11 = { git = "https://github.com/gfx-rs/gfx", rev = "2a93d52661aafcbd6441ea83e739c8ced906cd21" }
gfx-backend-vulkan = { git = "https://github.com/gfx-rs/gfx", rev = "2a93d52661aafcbd6441ea83e739c8ced906cd21", features = ["naga"] }

[target.'cfg(target_arch = "wasm32")'.dependencies]
gfx-backend-gl = { git = "https://github.com/gfx-rs/gfx", rev = "2a93d52661aafcbd6441ea83e739c8ced906cd21" }

[dependencies.naga]
git = "https://github.com/gfx-rs/naga"
tag = "gfx-20"
features = ["spv-in", "spv-out", "wgsl-in"]

[dependencies.wgt]
path = "../wgpu-types"
package = "wgpu-types"
version = "0.7"

[dev-dependencies]
loom = "0.3"

[build-dependencies]
cfg_aliases = "0.1"
